:root
{
    --noir : #000;
    --beige : #eae7dc;
    --brun : #d8c3a5;
    --taupe : #8e8d8a;
    --saumon : #e98074;
    --ocre : #e85a4f;
}

body 
{
    font-family: "Century Gothic", 'Lato', sans-serif;
}


#calendarBloc
{
    margin-top: 35%;
    background-color: var(--saumon);
}

.calendarTable
{
    width: 100%;
    height: calc(100vh - 128px);
}

.calendarTable td
{
    padding: 10px;
    border: 1px solid #CCC;
    vertical-align: top;
    width: 14.29%;
    height: 20%;
}

.calendarTable--6weeks td 
{
    height: 16.66%;
}

.calendarWeekDay
{
    font-weight: bold;
    color: #000;
    font-size: 1.2em;
}

.calendarDay
{
    font-size: 1.3em;
}

.calendarOtherMonth .calendarDay
{
    opacity: 0.3;
}