@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

:root
{
    --noir : #000;
    --beige : #e5efe6;
    --brun : #d8c3a5;
    --taupe : #8e8d8a;
    --saumon : #e98074;
    --ocre : #e85a4f;
    --grey : #8e8e8e;
    --violet : #431f4b;
}

html, body 
{
    box-sizing: border-box;
    background-color: var(--taupe);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a
{
    color: var(--taupe);
}

a:hover
{
    color: var(--beige);
}

#mainContent
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000vh;
    position: relative;
    background: var(--beige);
    text-align: center;
    padding: 0 2em;
    margin-top: 0%;
}

#accueil
{
    margin-top: 260%;
    margin-bottom: 15%;
    font-family:"Century Gothic", 'Caveat', cursive;
    font-size: 1.3rem;
    line-height: 4rem;
    
    
}

#presentation
{
    height: 20em;
    width: 20em;
    font-size: 1.7em;
    color: var(--taupe);
    text-align: left;
    margin-left: -12%;
    border-right: solid 2px var(--taupe);
}

#productCard
{
    margin-left: 50%;
}

#logo
{
    margin-top: 55%;    
}

#rdvImg
{
    height: 45rem;
    width: 45rem;
}

#mixImg
{
    height: 20rem;
    width: 20rem;
}

#btn
{
    height: 4em;
    width: 12em;
    color: var(--taupe);
    font-size: .8em;
    font-weight: bold;
    background-color: var(--brun);
    border-radius: 30px;
    border: solid 3px var(--taupe);
}

#btn:hover
{
    background-color: var(--taupe);
    color: var(--beige);
    border: solid 2px var(--brun);
}

.appointment
{
    margin-top: 0%;
    margin-bottom: 30%;
    margin-left: 0%;
}

/*Media queries*/

/*Style pour mobile,largeur d'écran inférieur à 480px*/
@media only screen and (max-width : 480px)
{

}

/*Style pour les tablettes*/
@media only screen and (min-width : 481px) and (max-width : 768px)
{

}

/*Style pour les desktop*/
@media only screen and (min-width : 769px)
{

}